@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
.card_pic {
  border: 1px solid #fd004b;
}
.banner_cont {
  height: 50vh;
  background-color: #fd004b;
}
.container {
  width: 75%;
  margin: auto;
  text-align: center;
}
.container h1 {
  margin: 0;
  color: white;
  font-weight: 800;
  font-size: 2em;
  padding-top: 16vh;
}
.banner_text {
  font-size: 1.3em;
  color: white;
}
@media only screen and (max-width: 700px) {
  .container h1 {
    font-size: 1.8em;
  }
  .banner_text {
    font-size: 1.1em;
  }
}
@media only screen and (max-width: 400px) {
  .container h1 {
    padding-top: 13vh;
  }
  .container h1 {
    font-size: 1.5em;
  }
  .banner_text {
    font-size: 0.9em;
  }
}
.banner {
  position: fixed;
  height: 10vh;
  width: 100%;

  background-color: #fd004b;
}
a {
  color: #000;
}

/* header */

a {
  color: #000;
}

.Picture_section {
  display: flex;
  height: 100vh;
}
.card_pic {
  width: 50%;

  background-position: center;
  background-size: cover;
}
.card {
  width: 30vw;
  height: 50vh;
  margin: auto;
  margin-top: 25vh;
  background-color: white;
  padding: 10px;

  text-align: center;
}
.card h1 {
  font-size: 1.8em;
}
.card p {
  width: 75%;
  margin: auto;
  font-size: 1.1em;
  line-height: 1.5em;
}
.card u {
  text-decoration: none;
  font-weight: 800;
  color: #e62686;
}
.card button {
  color: white;
  background-color: #e62686;
  border: none;
  outline: none;
  font-size: 1.2em;
  padding: 0.7em;
  margin-top: 25px;
  transition: all 0.2s ease;
}
.card button:hover {
  color: #e62686;
  background-color: white;
  padding: 0.8em;
  border: 2px solid #e62686;
}
@media only screen and (max-width: 800px) {
  .Picture_section {
    flex-direction: column;
    height: 130vh;
  }
  .card_pic {
    width: 100%;
  }
  .card {
    width: 90%;
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
}
.brand {
  text-align: center;
}
.brand h2 {
  font-style: bold;
  padding-top: 40px;
}
.brands::-webkit-scrollbar {
  height: 0px;
}
.brands {
  display: flex;

  justify-content: space-around;
  background-color: #efefef;
  padding: 30px;
  margin-top: 50px;
  overflow-x: scroll;
}
.left {
  position: absolute;
  left: 0;
}
.left {
  position: absolute;
  right: 0;
}
.brands img {
  opacity: 0.5;
  height: 30px;
  margin-left: 150px;
}
.how_cont {
  display: flex;
  margin-top: 5vw;
}
.how_cont div {
  width: 50%;
}
.rev {
  flex-direction: row-reverse;
}
.imge {
  width: 80%;
}
@media only screen and (max-width: 400px) {
  .card button {
    margin-top: 5px;
  }
}
@media only screen and (max-width: 700px) {
  .how_cont {
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  .how_cont div {
    width: 100%;
  }
  .imge {
    width: 70vw;
  }
}
.blog_back {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.blog_cards {
  text-align: center;
  margin-top: 5vw;
  margin-bottom: 1vw;
}
.texted {
  width: 70%;
  margin: auto;
  padding: 10px;
  margin-top: 10px;
}
@media only screen and (max-width: 700px) {
  .texted {
    width: 95%;
  }
  .blog_back {
    width: 150px;
    height: 150px;
  }
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: #ca033f;
}
.footer .col {
  width: 190px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}
.footer .col h1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: rgba(255, 255, 255, 0.2);
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.25em;
}
.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .col ul li {
  color: #999999;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
}
.social ul li {
  display: inline-block;
  padding-right: 5px !important;
}

.footer .col ul li:hover {
  color: #ffffff;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
}
.clearfix {
  clear: both;
}
@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1139px) {
  .contain .social {
    width: 1000px;
    display: block;
  }
  .social h1 {
    margin: 0px;
  }
}
@media only screen and (max-width: 950px) {
  .footer .col {
    width: 33%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 500px) {
  .footer .col {
    width: 50%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 340px) {
  .footer .col {
    width: 100%;
  }
}

.header {
  position: fixed;
  width: 100%;
  z-index: 999;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fd004b;
}

.header li a {
  display: block;
  padding: 20px 20px;
  color: white;
  text-decoration: none;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #fff;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #fff;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
.popUp {
  position: fixed;
  background-color: #fd004b;
  border-radius: 5px;
  margin-top: 40vh;
  width: 30vw;
  padding: 1vw;
  left: 36vw;
  text-align: center;
}
.popUp h1 {
  font-size: 1em;
  color: wheat;
}
@media (max-width: 900px) {
  .popUp {
    width: 40vw;
    left: 26vw;
  }
}
@media (max-width: 800px) {
  .popUp {
    width: 50vw;
    left: 16vw;
  }
}
@media (max-width: 600px) {
  .popUp {
    width: 70vw;
    padding: 0.5vw;
  }
  .popUp h1 {
    font-size: 0.7em;
    color: wheat;
  }
}

.popUp img {
  width: 30px;
  border: 2px solid white;
  padding: 10px;
  border-radius: 50%;
}
.popUp img:hover {
  opacity: 0.7;
}
.cover {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: black;
  opacity: 0.7;
}
.nothing {
  display: none;
}
